{% extends 'base.html' %}
{% block title %}Issue Details{% endblock %}
{% block content_heading %}Подробное описание задачи{% endblock %}
{% block content %}
<div class="card">
    <h5 class="card-header">Задача #{{ issue.pk }}</h5>
    <div class="card-body">
        <h5 class="card-title pb-3 card_view">{{ issue.summary }}</h5>
        {% if issue.description %}
        <p class="card-text"><b>Подробное описание:</b> {{ issue.description }}</p>
        {% else %}
        <p class="card-text"><b>Подробное описание:</b> Подробное описание отсутствует!</p>
        {% endif %}
        <p class="card-text"><b>Тип задачи:</b> {% for type in issue.type.all %}
            {{ type.name }}
            {% if not forloop.last %},
            {% endif %}
            {% endfor %}
        </p>
        <p class="card-text"><b>Статус задачи:</b> {{ issue.status }}</p>
        {% if perms.webapp.change_issue %}
        <div class="page_action">
            <a href="{% url 'issue_edit_view' issue.pk %}" class="btn btn-primary">Редактировать</a>
            <a href="{% url 'issue_delete_view' issue.pk %}" class="btn btn-danger">Удалить</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
