{% extends 'base.html' %}
{% block title %}Issues View{% endblock %}
{% block content_heading %}Задачи{% endblock %}
{% block content %}
{% include 'partial/search_form.html' %}
{% if is_paginated %}
{% include 'partial/pagination.html' %}
{% endif %}
{% if issues %}
{% for issue in issues %}
<div class="card mb-3 border-dark">
    <h5 class="card-header">Задача #{{ issue.pk }}</h5>
    <div class="card-body">
        <h5 class="card-title pb-3 card_view">{{ issue.summary }}</h5>
        <p class="card-text"><b>Тип задачи:</b> {% for type in issue.type.all %}
            {{ type.name }}
            {% if not forloop.last %},
            {% endif %}
            {% endfor %}
        </p>
        <p class="card-text"><b>Статус задачи:</b> {{ issue.status }}</p>
        <a href="{% url 'issue_details_view' issue.pk %}">Подробнее >>></a>
    </div>
</div>
{% endfor %}
{% else %}
<div class="another_view">
    <h2>Задачи не найдены!</h2>
    <p><a href="{% url 'issue_add_view' %}">Добавить задачу</a></p>
</div>
{% endif %}
{% include 'partial/search_form.html' %}
{% if is_paginated %}
{% include 'partial/pagination.html' %}
{% endif %}
{% endblock %}
