{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'media/favicon.ico' %}">
    <title>{% block title %}Document{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<header class="main_header">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'projects_view' %}">
                    <img src="{% static 'media/favicon.ico' %}" alt="" width="30" height="30"
                         class="d-inline-block align-text-top">
                    Issue Tracker
                </a>
                {% block navbar_item %}{% endblock %}
                <div class="collapse navbar-collapse justify-content-end text-uppercase" id="navbarNav">
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                        <li class="nav-item username-item">
                            <a class="nav-link" aria-current="page" href="/">{{ user }}</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'projects_view' %}">проекты</a>
                        </li>
                        {% if user.groups.all.0.name != "Developer" %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'issues_view' %}">задачи</a>
                        </li>
                        {% endif %}
                        {% if user.is_authenticated %}
                        {% if user.groups.all.0.name == "Project Manager" or user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'project_add_view' %}">добавить
                                проект</a>
                        </li>
                        {% endif %}
                        {% if user.groups.all.0.name != "Developer" %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'issue_add_view' %}">добавить
                                задачу</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">выход</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'login' %}">вход</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'register' %}">регистрация</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<div class="main_content">
    <div class="container">
        <div class="content_heading pt-5 pb-3">
            <h5 class="page_name">{% block content_heading %}{% endblock %}</h5>
        </div>
        {% block content %}{% endblock %}
    </div>
</div>
<footer class="main_footer">
    <div class="container">
        <p>Abylay Kuvatov © 2023</p>
    </div>
</footer>

<script src="{% static 'js/script.js' %}" type="text/javascript"></script>
</body>
</html>
