{% extends 'base.html' %}
{% block title %}Project Details{% endblock %}
{% block content_heading %}Подробное описание проекта{% endblock %}
{% block content %}
{% if perms.webapp.add_project %}
<h6>Пользователи проекта:</h6>
<ol class="list-group list-group-numbered project_users pb-3">
    {% if users %}
    {% for user in users %}
    <li>{{ user.username }}</li>
    {% endfor %}
    {% else %}
    <li>У проекта нет пользователей!</li>
    {% endif %}
</ol>
<div class="project_details_buttons pb-3 d-flex justify-content-between">
    <a class="add_project_issue btn btn-primary" href="{% url 'project_issue_add_view' project.pk %}">Добавить
        задачу в проект</a>
    <a class="add_project_issue btn btn-success" href="{% url 'project_add_user_view' pk=project.pk %}">Добавить
        пользователей в проект</a>
    <a class="add_project_issue btn btn-danger" href="{% url 'project_delete_user_view' pk=project.pk %}">Удалить
        пользователей из проекта</a>
</div>
{% endif %}
<div class="card">
    <h5 class="card-header">Проект #{{ project.pk }}</h5>
    <div class="card-body">
        <h5 class="card-title pb-3 card_view">{{ project.name }}</h5>
        {% if project.description %}
        <p class="card-text"><b>Подробное описание:</b> {{ project.description }}</p>
        {% else %}
        <p class="card-text"><b>Подробное описание:</b> Подробное описание отсутствует!</p>
        {% endif %}
        <p class="card-text"><b>Дата начала:</b> {{ project.started_at }}</p>
        {% if project.ended_at %}
        <p class="card-text"><b>Дата окончания:</b> {{ project.ended_at }}</p>
        {% else %}
        <p class="card-text"><b>Дата окончания:</b> Дата окончания не задана!</p>
        {% endif %}
        {% if project.issues.all %}
        {% for issue in project.issues.all %}
        <div class="card mb-3 border-dark">
            <h5 class="card-header">Задача #{{ issue.pk }}</h5>
            <div class="card-body">
                <h5 class="card-title pb-3 card_view">{{ issue.summary }}</h5>
                <p class="card-text"><b>Тип задачи:</b> {% for type in issue.type.all %}
                    {{ type.name }}
                    {% if not forloop.last %},
                    {% endif %}
                    {% endfor %}
                </p>
                <p class="card-text"><b>Статус задачи:</b> {{ issue.status }}</p>
                <a href="{% url 'issue_details_view' issue.pk %}">Подробнее >>></a>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="another_view">
            <h2>Задачи не найдены!</h2>
            <p><a href="{% url 'project_issue_add_view' project.pk %}">Добавить задачу в проект</a></p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
