{% extends 'base.html' %}
{% block title %}Projects View{% endblock %}
{% block content_heading %}Проекты{% endblock %}
{% block content %}
{% if projects %}
{% for project in projects %}
{% if user in project.users.all or user.is_superuser %}
<div class="card mb-3 border-dark">
    <h5 class="card-header">Проект #{{ project.pk }}</h5>
    <div class="card-body">
        <h5 class="card-title pb-3 card_view">{{ project.name }}</h5>
        <p class="card-text"><b>Дата начала:</b> {{ project.started_at }}</p>
        {% if project.ended_at %}
        <p class="card-text"><b>Дата окончания:</b> {{ project.ended_at }}</p>
        {% else %}
        <p class="card-text"><b>Дата окончания:</b> Дата окончания не задана!</p>
        {% endif %}
        <a href="{% url 'project_details_view' project.pk %}">Подробнее >>></a>
    </div>
</div>
{% endif %}
{% endfor %}
{% else %}
<div class="another_view">
    <h2>Проекты не найдены!</h2>
    <p><a href="{% url 'project_add_view' %}">Добавить проект</a></p>
</div>
{% endif %}
{% endblock %}
