{% extends 'base.html' %}
{% block content %}
<h2>Удалить пользователя из проекта <b>{{ project.name }}</b></h2>
<form method="post">
    {% csrf_token %}
    <label for="user_id">Пользователь:</label>
    <select class="form-select" name="user_id">
        <option selected>Выберите пользователя</option>
        {% for user in users %}
        <option value="{{ user.id }}">{{ user.username }}</option>
        {% endfor %}
    </select>
    <br>
    <button class="btn btn-danger" type="submit">Удалить пользователя</button>
</form>
{% endblock %}
